# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# IDEs
.vscode/
.idea/

# Datos pesados / runs locales
runs/
datasets/
D:/datasets/

# Modelos binarios (pero permitimos models/*.pt vía LFS)
*.pt
!models/
!models/*.pt

# Archivos temporales
*.tmp
*.log

# Word temp locks
~$*.docx
